PORT=3001
MONGO_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/traDexa?retryWrites=true&w=majority
SESSION_SECRET=your_secure_session_secret_here
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
DASHBOARD_URL=http://localhost:5174
